page-my-teams{
    .disabledDiv {
        // pointer-events: none;
        // opacity: 0.4;
        // background-color: red;
        border: 0;
        
    }

    .text{
        min-width: 20%;
        max-width: 30%;
        float: left;
    }
}